---
import Layout from "../layouts/Layout.astro";
import Header from "../components/astro/Header.astro";
import Section from "../components/astro/Section.astro";
import Button from "../components/astro/Button.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import links from "../utils/links";
import speaking from "../assets/images/events/speaking.jpeg";
import startknetMeetupImnotart from "../assets/images/events/starknet-meetup-imnotart.jpeg";
import tippi from "../assets/images/events/tippi.jpeg";
import vennityTeam from "../assets/images/events/vennity-team.jpeg";
---

<Layout title="ETHChicago">
    <Header />
    <Section>
        <h1
            class="text-3xl sm:text-4xl lg:text-6xl font-bold mb-4 text-primary-brand text-center max-w-5xl"
        >
            On the Mission of Elevating Web3 Innovation & Entrepreneurship in
            the Midwest
        </h1>
        <p class="text-xl sm:text-2xl lg:text-3xl text-center pt-6 sm:pt-12 max-w-4xl">
            ETHChicago is a Web3-native ecosystem that exists to help its
            community to connect, explore, build, and create the next frontier
            of the Internet.
        </p>
    </Section>
    <Section class="bg-secondary-brand">
        <h1 class="text-3xl sm:text-5xl lg:text-6xl font-bold text-primary-brand max-w-4xl">
            What We Do
        </h1>
        <p class="text-xl sm:text-2xl md:text-3xl text-center py-6 sm:py-12 max-w-4xl">
            At ETHChicago, we empower individuals and organizations from across
            the Web3 ecosystem, and beyond, to explore and harnass the
            transformative potential of blockchain.
        </p>
        <div class="flex flex-col xl:flex-row mt-4 sm:mt-8 gap-6 sm:gap-4 justify-center w-full max-w-6xl">
            <div class="flex flex-col text-center px-4 sm:px-6 mt-4 max-w-lg">
                <h1
                    class="text-2xl sm:text-3xl font-bold text-primary-brand mb-3 sm:mb-4 tracking-widest"
                >
                    COMMUNITY
                </h1>
                <p class="text-lg sm:text-xl">
                    ETHChicago is a gathering place for all of the Web3
                    community in the Midwest with the goal of exchanging ideas,
                    networking, building, and making friends.
                </p>
            </div>
            <div class="flex flex-col text-center px-4 sm:px-6 mt-4 max-w-lg">
                <h1
                    class="text-2xl sm:text-3xl font-bold text-primary-brand mb-3 sm:mb-4 tracking-widest"
                >
                    EVENTS
                </h1>
                <p class="text-lg sm:text-xl">
                    From the inaugural 2023 ETHChicago conference through
                    audience-specific side mixers, hackathons or X spaces, we
                    have done it all and have brought amazing partners along the
                    way!
                </p>
            </div>
            <div class="flex flex-col text-center px-4 sm:px-6 mt-4 max-w-lg">
                <h1
                    class="text-2xl sm:text-3xl font-bold text-primary-brand mb-3 sm:mb-4 tracking-widest"
                >
                    LEADERSHIP
                </h1>
                <p class="text-lg sm:text-xl">
                    Ranging from in-depth technical expertise through Web3
                    business strategy, legal and regulatory knowledge through
                    NFT strategy, ETHChicago is the focal point for all things
                    Web3 in the Midwest.
                </p>
            </div>
        </div>
    </Section>
    <Section class="bg-white">
        <h1
            class="text-3xl sm:text-5xl lg:text-6xl font-bold text-primary-brand text-center max-w-5xl"
        >
            Chicago Web3 Week
        </h1>
        <h2
            class="text-xl sm:text-3xl lg:text-4xl font-bold text-primary-brand text-center mt-4 sm:mt-8"
        >
            April 14th-17th
        </h2>
        <p class="text-lg sm:text-xl lg:text-2xl text-center py-6 sm:py-12 max-w-4xl">
            Join us for a week of events, culminating in the Emerging Tech
            Innovation Summit, which brings together key players in the AI &
            Web3 ecosystem for an all-encompassing, multi-day event. Gain
            insights from industry leaders, connect with accelerating startups
            and be part of the disruption.
        </p>
        <div class="flex flex-col sm:flex-row w-full justify-center items-center space-y-4 sm:space-y-0 sm:space-x-6 lg:space-x-12">
            <Button>
                <a href={links.events} target="_blank">Events</a>
            </Button>
            <Button>
                <a href={links.summit} target="_blank">Summit</a>
            </Button>
        </div>
    </Section>
    <Section class="bg-secondary-brand">
        <h1
            class="text-3xl sm:text-5xl lg:text-6xl font-bold text-primary-brand text-center max-w-5xl"
        >
            Web3 Innovation Lab
        </h1>
        <p class="text-lg sm:text-xl lg:text-2xl text-center py-6 sm:py-12 max-w-4xl">
            The Web3 Innovation Lab connects key ecosystem figures through
            technology-focused experiences, fostering high-impact
            collaborations. Members at 1871 accelerate growth through strategic
            partnerships. The 2025 program focuses on Digital Assets, Market
            Infrastructure, and Web3-Powered AI.
        </p>
        <div class="flex flex-row space-x-4 sm:space-x-12">
            <Button>
                <a href={links.innovationLab} target="_blank">Learn More</a>
            </Button>
        </div>
    </Section>
    <Section class="bg-white">
        <h1 class="text-3xl sm:text-5xl lg:text-6xl font-bold text-primary-brand max-w-4xl">
            Partnerships
        </h1>
        <p class="text-lg sm:text-xl md:text-2xl text-center py-6 sm:py-12 max-w-4xl">
            ETHChicago serves as the ultimate connector across the Web3
            community and a broker for partnerships of all kinds, connecting
            developers and creatives with projects, entrepreneurs with
            strategists, and sponsors with best co-branded opportunities.
        </p>
        <div class="flex flex-col xl:flex-row mt-4 sm:mt-8 gap-6 sm:gap-4 justify-center w-full max-w-6xl">
            <div class="flex flex-col text-center px-4 sm:px-6 mt-4 max-w-lg">
                <h1
                    class="text-2xl sm:text-3xl font-bold text-primary-brand mb-3 sm:mb-4 tracking-widest"
                >
                    SPONSORSHIPS
                </h1>
                <p class="text-lg sm:text-xl">
                    Join us as a sponsor and be part of the future! Support
                    groundbreaking events in Web3, where innovation, creativity,
                    and entrepreneurship converge. Showcase your brand to a
                    forward-thinking audience, build lasting partnerships, and
                    position your organization at the forefront of the digital
                    revolution.
                </p>
            </div>
            <div class="flex flex-col text-center px-4 sm:px-6 mt-4 max-w-lg">
                <h1
                    class="text-2xl sm:text-3xl font-bold text-primary-brand mb-3 sm:mb-4 tracking-widest"
                >
                    ACTIVATIONS
                </h1>
                <p class="text-lg sm:text-xl">
                    Through special projects, such as last winter's NFT drop,
                    our Cyberjams, blending technology and art, or CSO
                    activations, we can support any cross-functional one-off
                    initiative.
                </p>
            </div>
            <div class="flex flex-col text-center px-4 sm:px-6 mt-4 max-w-lg">
                <h1
                    class="text-2xl sm:text-3xl font-bold text-primary-brand mb-3 sm:mb-4 tracking-widest"
                >
                    WEB3 MARKETING
                </h1>
                <p class="text-lg sm:text-xl">
                    ETHChicago has in-house social media and digital marketing
                    experts with expertise in Web3 community building and
                    membership management that can help our community and
                    partners tap into the untapped potential of Web3 via both
                    Web2 and Web3-native marketing tools.
                </p>
            </div>
        </div>
    </Section>
    <Section class="bg-secondary-brand">
        <h1
            class="text-primary-brand text-3xl sm:text-5xl lg:text-6xl font-bold mb-6 sm:mb-12 text-center max-w-5xl"
        >
            Humans Behind
        </h1>
        <div class="grid grid-cols-1 sm:grid-rows-2 sm:grid-cols-2 gap-4 max-w-5xl">
            <Image
                src={speaking}
                alt="speaking"
                class="w-full h-full object-cover object-center"
            />
            <Image
                src={vennityTeam}
                alt="vennity team"
                class="w-full h-full object-cover object-center"
            />
            <Image
                src={startknetMeetupImnotart}
                alt="imnotart meetup"
                class="w-full h-full object-cover object-center"
            />
            <Image
                src={tippi}
                alt="tippi"
                class="w-full h-full object-cover object-center"
            />
        </div>
    </Section>
    <div
        class="px-6 sm:px-12 md:px-32 py-16 sm:py-24 flex flex-col w-full h-full justify-center items-center bg-white"
    >
        <h1 class="text-primary-brand text-3xl sm:text-5xl lg:text-6xl font-bold max-w-4xl">
            Get Involved
        </h1>
        <p class="text-lg sm:text-xl text-center py-6 sm:py-12 max-w-4xl">
            For volunteering, partnership, or sponsorship opportunities, please
            reach out at <a
                class="hover:underline"
                href="mailto:ecosystem@ethchicago.xyz"
                >ecosystem@ethchicago.xyz.</a
            > Let's shape the future of Web3 together!
        </p>
        <div
            class="flex flex-col sm:flex-row w-full items-center justify-center space-y-4 sm:space-y-0 sm:space-x-4 md:space-x-8"
        >
            <Button>
                <a href={links.newsletter} target="_blank"> NEWSLETTER </a>
            </Button>
            <Button
                ><a href={links.events} target="_blank">JOIN OUR EVENTS</a
                ></Button
            >
        </div>
        <div class="mt-8 sm:mt-12 p-4 sm:p-8 flex flex-row space-x-8 sm:space-x-12">
            <a href={links.telegram} target="_blank">
                <Icon name="telegram" size={40} class="sm:w-[50px] sm:h-[50px]" />
            </a>
            <a href={links.twitter} target="_blank">
                <Icon name="twitter-alt" size={40} class="sm:w-[50px] sm:h-[50px]" />
            </a>
        </div>
    </div>
</Layout>
