---
import Layout from "../layouts/Layout.astro";
import Header from "../components/astro/Header.astro";
import Section from "../components/astro/Section.astro";
import Button from "../components/astro/Button.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import links from "../utils/links";
import speaking from "../assets/images/events/speaking.jpeg";
import startknetMeetupImnotart from "../assets/images/events/starknet-meetup-imnotart.jpeg";
import tippi from "../assets/images/events/tippi.jpeg";
import vennityTeam from "../assets/images/events/vennity-team.jpeg";
import ethchiFlag from "../assets/images/ethchi_flag_big.jpg";
---

<Layout title="ETHChicago">
    <Header />
    <Section>
        <h1
            class="text-5xl lg:text-8xl font-bold mb-4 text-primary-brand text-center"
        >
            On the Mission of Elevating Web3 Innovation & Entrepreneurship in
            the Midwest
        </h1>
        <p class="text-3xl w-3/5 text-center pt-12">
            ETHChicago is a Web3-native ecosystem that exists to help its
            community to connect, explore, build, and create the next frontier
            of the Internet.
        </p>
    </Section>
    <Section class="bg-secondary-brand">
        <h1 class="text-5xl lg:text-8xl font-bold text-primary-brand">
            What We Do
        </h1>
        <p class="text-3xl md:text-4xl text-center py-12">
            At ETHChicago, we empower individuals and organizations from across
            the Web3 ecosystem, and beyond, to explore and harnass the
            transformative potential of blockchain.
        </p>
        <div class="flex flex-col xl:flex-row mt-8">
            <div class="flex flex-col text-center px-6 mt-4">
                <h1
                    class="text-4xl font-bold text-primary-brand mb-4 tracking-widest"
                >
                    COMMUNITY
                </h1>
                <p class="text-2xl">
                    ETHChicago is a gathering place for all of the Web3
                    community in the Midwest with the goal of exchanging ideas,
                    networking, building, and making friends.
                </p>
            </div>
            <div class="flex flex-col text-center px-6 mt-4">
                <h1
                    class="text-4xl font-bold text-primary-brand mb-4 tracking-widest"
                >
                    EVENTS
                </h1>
                <p class="text-2xl">
                    From the inaugural 2023 ETHChicago conference through
                    audience-specific side mixers, hackathons or X spaces, we
                    have done it all and have brought amazing partners along the
                    way!
                </p>
            </div>
            <div class="flex flex-col text-center px-6 mt-4">
                <h1
                    class="text-4xl font-bold text-primary-brand mb-4 tracking-widest"
                >
                    LEADERSHIP
                </h1>
                <p class="text-2xl">
                    Ranging from in-depth technical expertise through Web3
                    business strategy, legal and regulatory knowledge through
                    NFT strategy, ETHChicago is the focal point for all things
                    Web3 in the Midwest.
                </p>
            </div>
        </div>
    </Section>
    <Section class="bg-white">
        <h1
            class="text-5xl lg:text-8xl font-bold text-primary-brand text-center"
        >
            Chicago Web3 Week
        </h1>
        <p class="text-3xl text-center py-12">
            Stay tuned for more news -- soon! - on the Chicago Web3 Innovation
            Week in partnership with 1871, the premier entrepreneurship center
            in the Midwest.
        </p>
        <Image src={ethchiFlag} alt="ethchi flag" width={600} />
    </Section>
    <Section class="bg-secondary-brand">
        <h1 class="text-5xl lg:text-8xl font-bold text-primary-brand">
            Partnerships
        </h1>
        <p class="text-3xl md:text-4xl text-center py-12">
            ETHChicago serves as the ultimate connector across the Web3
            community and a broker for partnerships of all kinds, connecting
            developers and creatives with projects, entrepreneurs with
            strategists, and sponsors with best co-branded opportunities.
        </p>
        <div class="flex flex-col xl:flex-row mt-8">
            <div class="flex flex-col text-center px-6 mt-4">
                <h1
                    class="text-4xl font-bold text-primary-brand mb-4 tracking-widest"
                >
                    SPONSORSHIPS
                </h1>
                <p class="text-2xl">
                    Join us as a sponsor and be part of the future! Support
                    groundbreaking events in Web3, where innovation, creativity,
                    and entrepreneurship converge. Showcase your brand to a
                    forward-thinking audience, build lasting partnerships, and
                    position your organization at the forefront of the digital
                    revolution.
                </p>
            </div>
            <div class="flex flex-col text-center px-6 mt-4">
                <h1
                    class="text-4xl font-bold text-primary-brand mb-4 tracking-widest"
                >
                    ACTIVATIONS
                </h1>
                <p class="text-2xl">
                    Through special projects, such as last winter’s NFT drop.
                    our Cyberjams, blending technology and art, or CSO
                    activations, we can support any cross-functional one-off
                    initiative.
                </p>
            </div>
            <div class="flex flex-col text-center px-6 mt-4">
                <h1
                    class="text-4xl font-bold text-primary-brand mb-4 tracking-widest"
                >
                    WEB3 MARKETING
                </h1>
                <p class="text-2xl">
                    ETHChicago has in-house social media and digital marketing
                    experts with expertise in Web3 community building and
                    membership management that can help our community and
                    partners tap into the untapped potential of Web3 via both
                    Web2 and Web3-native marketing tools.
                </p>
            </div>
        </div>
    </Section>
    <Section>
        <h1
            class="text-primary-brand text-5xl lg:text-8xl font-bold mb-12 text-center"
        >
            Humans Behind
        </h1>
        <div class="grid grid-rows-2 grid-cols-2 gap-4 max-w-5xl">
            <Image
                src={speaking}
                alt="speaking"
                class="w-full h-full object-cover object-center"
            />
            <Image
                src={vennityTeam}
                alt="vennity team"
                class="w-full h-full object-cover object-center"
            />
            <Image
                src={startknetMeetupImnotart}
                alt="imnotart meetup"
                class="w-full h-full object-cover object-center"
            />
            <Image
                src={tippi}
                alt="tippi"
                class="w-full h-full object-cover object-center"
            />
        </div>
    </Section>
    <div
        class="px-32 py-24 flex flex-col w-full h-full justify-center items-center bg-secondary-brand"
    >
        <h1 class="text-primary-brand text-5xl lg:text-8xl font-bold">
            Get Involved
        </h1>
        <p class="text-2xl text-center py-12">
            For volunteering, partnership, or sponsorship opportunities, please
            reach out at ecosystem@ethchicago.xyz. Let's shape the future of
            Web3 together!
        </p>
        <div
            class="flex flex-col lg:flex-row w-full items-center justify-center space-y-8 lg:space-y-0 lg:space-x-8"
        >
            <Button>
                <a href={links.newsletter} target="_blank"> NEWSLETTER </a>
            </Button>
            <Button
                ><a href={links.events} target="_blank">JOIN OUR EVENTS</a
                ></Button
            >
        </div>
        <div class="mt-12 p-8 flex flex-row space-x-12">
            <a href={links.telegram} target="_blank">
                <Icon name="telegram" size={50} />
            </a>
            <a href={links.twitter} target="_blank">
                <Icon name="twitter-alt" size={50} />
            </a>
        </div>
    </div>
</Layout>
